h1 {
  color: #FF1C1C;
}

* {
  box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, li {
  font-family: 'Inconsolata';
}

p {
  letter-spacing: 0.02em;
}

.subsection {
  width: 50%;
  margin: 0 auto;
}

.subsection .title {
  text-align: center;
}

.subsection .title a {
  text-decoration: none;
  color: #FF1C1C;
}

.subsection .title a:visited {
  text-decoration: none;
  color: #FF0a0a;
}

.subsection .contacts p {
  margin: 0 0 0 22%;
  wijgjidth: 70%;
  margiin-left: 25%;
}

.subsection .subtitle {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  padding-bottom: 0.2em;
  border-bottom: 1px solid #ddd;
}

.subsection .item-title {
  color: #FF1C1C;
  float: left;
  margin-left: 5%;
  margin-bottom: 0;
  width: 75%;
  font-size: 1.1em;
}

.subsection p {
  clear: both;
}

.subsection .description {
  padding-top: 1.3em;
}

.subsection .dates {
  color: #555;
  font-weight: lighter;
  margin-bottom: 0;
  float: left;
  width: 20%;
  line-height: 1.1em;
}

.subsection.grants .item-title{
  float: left;
  margin-left: 0;
  width: 60%;
}

.subsection.grants .amount{
  float: left;
  width: 20%;
  text-align: right;
}

